exportPattern("^[[:alpha:]]+")
importFrom(purrr,map)
importFrom(purrr,map2)
importFrom(purrr,reduce)
importFrom(RMySQL,dbConnect)
importFrom(RMySQL,dbSendQuery)
importFrom(RMySQL,dbWriteTable)
importFrom(RMySQL,dbDisconnect)
importFrom(lubridate,month)
importFrom(lubridate,ceiling_date)
importFrom(gtrendsR,gtrends)
importFrom(plyr,rbind.fill)
importFrom(dplyr,select)
importFrom(dplyr,arrange)
importFrom(dplyr,full_join)
importFrom(dplyr,bind_rows)
importFrom(plyr,rbind.fill)
importFrom(data.table,data.table)
importFrom(data.table,setkey)
importFrom(readxl,read_xlsx)
importFrom(writexl,write_xlsx)
importFrom(parallel,detectCores)
importFrom(foreach,'%dopar%')
