exportPattern("^[[:alpha:]]+")
import(dplyr)
import(data.table)
import(purrr)
import(RMySQL)
import(lubridate)
import(gtrendsR)
import(readxl)
import(writexl)
import(stringr)
import(doParallel)
import(foreach)
import(parallel)
importFrom(plyr,rbind.fill)
